

.header {
  min-width: 430px;
  overflow: hidden;
  text-aling:right;
  margin-bottom: 26px;
  &__hashtag{

    text-align: right;
  }
  &__social{
    color: #999;
    font-size: 14px;
    text-align: right;
    span {
      display: inline-block;
    }
    a {
      min-width: 35px;
      min-height: 35px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  &__links{
    color: #aaa;
    font-size: 12px;
    text-align: right;
  a {

    }
  }
}
